@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./styles/reset.css);
@import url(./styles/variables.css);

body {
  font-size: 62.5%;
  font-family: var(--montserrat-font-family);
}

.inner {
  width: 1300px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  .banner {
    padding-right: 20px;
    background: var(--main-dark-color);
    color: var(--main-light-color);
    .lnb {
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 10px;
      font-size: 1rem;
      em {
        color: var(--em-font-color);
      }
    }
  }

  .gnb {
    height: 100px;

    .gnbbanner {
      padding: 20px;
      display: flex;
      align-items: center;

      .gnblist {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        font-size: 1rem;
        color: var(--main-light-color);
      }
    }

    &.active {
      background: var(--main-light-color);
      .gnblist {
        color: var(--main-dark-color);
      }
    }
  }
}

.introsection {
  width: 100%;
  height: 100vh;

  background: url(./images/intro.jpg);
  .intro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--main-light-color);
    h1 {
      font-size: 3rem;
      margin-bottom: 60px;
    }
    p {
      width: 1300px;
      font-size: 1.1rem;
      padding: 0 150px;
      line-height: 1.5rem;
    }
  }
}

.about {
  display: flex;
  align-items: center;
  padding: 120px 0;

  .desc {
    flex: 2;
    text-align: center;
    font-size: 1rem;
    margin-right: 50px;
    p {
      font-size: 0.8rem;
      margin: 50px 0;
      line-height: 1.5rem;
    }
    a {
      color: var(--a-font-color);
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .photo {
    flex: 2;
    img {
      width: 100%;
      height: 100%;
      border-radius: 40% 65% 30% 35% / 40% 45% 55% 60%;
    }
  }
}
