:root {
    --main-dark-color : #000;
    --main-light-color : #fff;
    --montserrat-font-family: "Montserrat", serif;
    --em-font-color: #bbb;
    --a-font-color : #c25a3a;
    --desc-badge-color : #00a0e9;
    --must-badge-color: #e60012;
    --border-bg-color : #eee;
}